 /* --bg-bright-color */
 .forms-of-teaching{
    /* background-color: var(--bg-bright-color ); */
   height:auto;
  padding: 10vh 0vw 35vh 0vw !important;
 }
 .accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: transparent !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.forms-of-tesching-subtitle{
  /* width: 30vw; */
  /* width: clamp(90vw, 20em, 40vw); */
  /* width: clamp(min(90vw, 90vw), 30vw, max(30vw, 30vw)); */
    width: clamp(18.9rem, 9.022rem + 17vw, 26.75rem);
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding:  1.3rem 1.25rem 1.3rem 0rem !important;
  font-size:  var(--h6) !important;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: transparent !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
    letter-spacing: -0.04em;
    font-family: 'MontserratSemiBold';
}
.accordion-button:hover {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.3rem 1.6rem 1.3rem 1.6rem !important;
  font-size: var(--h6) !important;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color:transparent !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
    letter-spacing: -0.04em;
    font-family: 'MontserratSemiBold';
}
.accordion {
    border-bottom: 1px solid hsl(0, 0%, 1%,0.5);
  --bs-accordion-color: #0b0b0b;
  --bs-accordion-bg:transparent !important;
  --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
  --bs-accordion-border-color: #FFFDF6;
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #000000;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="hsl(25, 100%, 53%)" class="bi bi-arrow-down-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/></svg>');
  --bs-accordion-btn-icon-width: 1.7rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/></svg>');
  --bs-accordion-btn-focus-box-shadow: transparent !important;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #000;
  --bs-accordion-active-bg: transparent !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
   --bs-accordion-bg: transparent !important;
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);

}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color:transparent !important;
  border: solid 1px hsl(0, 0%, 1%,0.5);
}
 .main-colour-large{
    display: block !important;
    color: var(  --main-bg-color);
  }
     .main-colour-small{
    display: none !important;}
/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
   .main-colour-small{
    display: none !important;
  }
  .main-colour-large{
    display: block !important;
    color: var(  --main-bg-color);
  }
}
/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
  .main-colour-small{
    display: block !important;
     color: var(  --main-bg-color);
  }
  .main-colour-large{
    display: none !important;
  }
}
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .accordion-button:hover {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.3rem 0rem 1.3rem 0rem !important;
  font-size: var(--h6) !important;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color:transparent !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
    letter-spacing: -0.04em;
    font-family: 'MontserratSemiBold';
}
    .main-colour-small{
    display: block !important;
     color: var(  --main-bg-color);
  }
  .main-colour-large{
    display: none !important;
  }
 }
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.3rem 0rem 1.3rem 0rem !important;
  font-size: var(--h6) !important;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: transparent !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
  letter-spacing: -0.04em;
  font-family: 'MontserratSemiBold';
}
  .accordion-button :checked{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.3rem 0rem 1.3rem 0rem !important;
  font-size: var(--h6) !important;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: transparent !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
  letter-spacing: -0.04em;
  font-family: 'MontserratSemiBold';
}
  .accordion-button :active{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.3rem 0rem 1.3rem 0rem !important;
  font-size: var(--h6) !important;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: transparent !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
  letter-spacing: -0.04em;
  font-family: 'MontserratSemiBold';
}
    .main-colour-small{
    display: none !important;
     color: var(  --main-bg-color);
  }
 }
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
   .forms-of-teaching{
    /* background-color: var(--bg-bright-color ); */
   height:auto;
  padding: 20vh 0vw 30vh 0vw !important;
 }
}