.header {
  color: var(--text-white-color);

  padding-bottom: 20vh;
  height: auto;
  position: relative;
}
.main {
  /* overflow: hidden; */

  transition-duration: 1400ms;
  /* height: auto; */
  transition-delay: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0.1, 0.2, 1);
}

/* ================================ Anumation header start ====================================  */
/* Starten außerhalb des Viewports */
/* Starten unsichtbar */
/* Für Animationseffekt */
.animated-card {
  /* transform: translateX(0px);  */
  /* opacity: 0;   */
  /* transition: transform 1.5s ease, opacity 1.5s ease; */
}

.char {
  display: inline-block;
}

/* .char.space {
  width: 0.5em; 
} */

h1,
p {
  overflow: hidden;
}
.char {
  display: inline-block;
}
/* Platzhalter für Leerzeichen */
.char.space {
  width: 0.5em;
}
/* Verhindert, dass animierte Elemente über das Element hinausragen */
h1,
p {
  overflow: hidden;
}
/* ================================ Anumation header end ====================================  */
.header-textimage-holder {
  height: 60vh;
}
/* .header h1 {
  text-shadow: 2px 2px 0px var(--second-bg-color) !important;
} */
.header-subtitle {
  width: 90%;
}

.row-height-title {
  height: 33vh;
  /* background-color: rgb(253, 176, 176); */
}
.row-card-holder {
  display: flex !;
}
.header-col-image {
  position: relative;
  overflow: hidden;
  width: 20.4vw !important;
  height: 79vh;
  border-radius: 0.9vw;
  /* border: 1px solid var(--second-bg-color); */
}
.hero-img-holder {
  position: relative;
  background-image: url(/images/Frame\ 234\(1\).png);
  height: 70vh;
  width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -4vw 12vh !important;
  border-bottom-left-radius: 0.9vw;
  border-bottom-right-radius: 0.9vw;
  transition: all 400ms ease; */
}
.hero-col-wrapper {
  position: relative;
}
.hero-test-holder {
  position: absolute;
  top: 27vh;
  right: 8vw;
  width: 20vw;
  height: 50vh;
  border-radius: 5%;
  background-color: #fff;
}
.hero-text-column {
  width: 30vw;
}
.hero-img-column {
  width: 44.9vw;
}
.hero-fill-colum {
  width: 9vw;
}
/* button contakt start*/



.btn-contact-header.animated-button {
  background-color: #5800c9;
  color: #fdf7f8;
  border: 2px solid #5800c9;
  border-radius: 50px;
  padding: 12px 28px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.btn-contact-header.animated-button:hover,
.btn-contact-header.animated-button:focus {
  background-color: #fdf7f8;
  color: #5800c9;
  border-color: #5800c9;
  text-decoration: none;
}



.header-video-text-holder {
  background-color: var(--second-bg-color);
  padding: 2rem;
  height: 9vh;
}

.header-subtext {
  width: 75%;
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
/* @media (max-width: 1366.98px) {
  .video-container .header-image-test.show {
  position: absolute;
  transition: all 400ms ease;
  width: 100%;
  height: 68vh;
  transform: translate(0% 0px);
  transform: translateZ(0rem);
  opacity: 1;
}
  .video-container {
  position: relative;
  overflow: hidden;
  width: clamp(10.9rem, 0.022rem + 20vw, 26.75rem);
  height: 68vh;
  border-radius: 0.9vw;
}
   .header-video-img-holder {
    position: relative;
    background-image: url(/images/Screenshot\ 2024-11-28\ 131125-small.jpg);
    height: 79vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -7vw 13vh;
    border-bottom-left-radius: 0.9vw;
    border-bottom-right-radius: 0.9vw;
    transition: all 400ms ease;
  }
.header-video-img-holder-one {
  position: relative;
  background-image: url(/images/Screenshot\ 2024-12-01\ 145027-small.jpg);
  height: 79vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -4vw 6vh;
  border-bottom-left-radius: 0.9vw;
  border-bottom-right-radius: 0.9vw;
  transition: all 400ms ease;
}
.header-video-img-holder-two {
  position: relative;
  background-image: url(/images/Screenshot\ 2024-12-01\ 144838-small.jpg);
  height: 79vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -3vw 9vh;
  border-bottom-left-radius: 0.9vw;
  border-bottom-right-radius: 0.9vw;
  transition: all 400ms ease;
}
  .header-video-img-holder-three {
    position: relative;
    background-image: url(/images/Screenshot\ 2024-12-01\ 144643-small.jpg);
    height: 79vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -13vw 13vh;
    border-bottom-left-radius: 0.9vw;
    border-bottom-right-radius: 0.9vw;
    transition: all 400ms ease;
  }

} */

/* // `xl` applies to large devices (desktops, less than 1200px) */
/* @media only screen and (min-height: 832px) and (max-width: 1194.98px) and (orientation: landscape) {
  .video-container {
    position: relative;
    overflow: hidden;
    width: clamp(10.9rem, 0.022rem + 20vw, 26.75rem);
    height: 60vh;
    border-radius: 0.9vw;
  }
  .video-container .header-image-test.show {
    position: absolute;
    transition: all 400ms ease;
    width: 100%;
    height: 60vh;
    transform: translate(0% 0px);
    transform: translateZ(0rem);
    opacity: 1;
  }
} */

@media (max-width: 1199.98px) {
  .row-height-title {
    height: auto;
    /* background-color: rgb(253, 176, 176); */
  }
  .btn-course {
    background-color: var(--text-white-color);
    text-decoration: none;
    color: var(--second-bg-color) !important;
    font-size: clamp(0.75rem, 0.51rem + 1.2vw, 1.44rem);
    width: 27vw;
    padding: 1.6rem 2rem 1.6rem 2rem;
    border-radius: 0.5vw;
  }
  .btn-course:hover {
    background-color: var(--second-bg-color);
    text-decoration: none;
    color: var(--text-white-color) !important;
    font-size: clamp(0.75rem, 0.51rem + 1.2vw, 1.44rem);

    padding: 1.6rem 2rem 1.6rem 2rem;
    border-radius: 0.5vw;
  }
  .second-video {
    margin-right: 10vw;
  }
  .video-container {
    position: relative;
    overflow: hidden;
    width: clamp(10.9rem, 0.022rem + 34vw, 26.75rem);
    height: 48vh;
    border-radius: 0.9vw;
  }
  .video-container .header-image-test.show {
    position: absolute;
    transition: all 400ms ease;
    width: 100%;
    height: 48vh;
    transform: translate(0% 0px);
    opacity: 1;
  }
  .header-video-text-holder {
    background-color: var(--second-bg-color);
    padding: 1rem;
    height: 15.5vh;
  }

  .video-container .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 24px), -50%);
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      hsl(266, 100%, 39%) 0%,
      rgb(0, 0, 0, 0.5) 15%,
      rgb(0, 0, 0, 0.3) 50%,
      rgb(0, 0, 0, 0.1) 100%
    );
    width: 100%;
    height: 100%;
    padding: 1rem;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 0.8px;
    transition: all 400ms ease;
  }
  .header-video-img-holder {
    position: relative;
    background-image: url(/images/Screenshot\ 2024-11-28\ 131125-small.jpg);
    height: 79vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -4vw 7vh !important;
    border-bottom-left-radius: 0.9vw;
    border-bottom-right-radius: 0.9vw;
    transition: all 400ms ease;
  }
  .header-video-img-holder-one {
    position: relative;
    background-image: url(/images/Screenshot\ 2024-12-01\ 145027-small.jpg);
    height: 79vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center 6vh;
    border-bottom-left-radius: 0.9vw;
    border-bottom-right-radius: 0.9vw;
    transition: all 400ms ease;
  }
  .header-video-img-holder-two {
    position: relative;
    background-image: url(/images/Screenshot\ 2024-12-01\ 144838-small.jpg);
    height: 79vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -3vw 9vh;
    border-bottom-left-radius: 0.9vw;
    border-bottom-right-radius: 0.9vw;
    transition: all 400ms ease;
  }
  .header-video-img-holder-three {
    position: relative;
    background-image: url(/images/Screenshot\ 2024-12-01\ 144643-small.jpg);
    height: 79vh;
    background-size: auto 100%;
    background-repeat: no-repeat;

    background-position: center 7vh;
    border-bottom-left-radius: 0.9vw;
    border-bottom-right-radius: 0.9vw;
    transition: all 400ms ease;
  }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .hero-text-column {
    width: 43vw;
  }

  .second-video {
    margin-right: 10vw;
  }

  .btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.2rem;
  }
  .video {
    width: 100%;
    height: auto;
  }
  .header {
    /* background-color: var(--main-bg-color); */
    color: var(--text-white-color);

    padding-bottom: 0vh;
    height: auto;
  }
  .nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 4.3vw;
    position: fixed;
    left: 89vw;
    top: 2rem;
    width: 4.5vw;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--text-white-color);
  }
  .row-height-title {
    height: 20vh;
    /* background-color: rgb(253, 176, 176); */
  }


  .header a {
    text-decoration: none;
    color: var(--text-white-color);
  }

  .row-height-title {
    height: auto;
  }

  .header-mobile-img-holder {
    overflow: hidden;
    height: 30vh;
  }
  .hero-img-column {
    width: 93%;
  }
  .header-subtitle {
    width: 70%;
  }
  .hero-text-column {
    width: 92vw;
  }
  .header-mobile-text-holder {
    padding: 0.2rem;
    background-color: var(--second-bg-color);
    height: 15vh;
  }
.hero-test-holder {
    position: absolute;
    top: 85vh;
    right: 8vw;
    width: 41vw;
    height: 75vh;
    border-radius: 5%;
    background-color: #fff;
  }
  .hero-img-holder {
    position: relative;
    background-image: url(/images/Frame\ 234\(1\).png);
    height: 64vh;
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
  
  }
}
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .btn-course {
    width: 50vw;

    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.9vw;
  }
  .hero-img-holder {
    position: relative;
    background-image: url(/images/Frame\ 234\(1\).png);
    height: 34.5vh;
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-course:hover {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.9vw;
  }
  .second-video {
    margin-right: 0vw;
  }
  .header a {
    text-decoration: none;
    color: var(--text-white-color);
  }
  .video {
    width: 100%;
    height: auto;
  }

  .row-height-title {
    height: auto;
  }

  .header-col-mobile-card {
    position: relative;
    overflow: hidden;
    width: auto !important;
    height: 52vh;
    border-radius: 3vw;
    /* border: 1px solid var(--second-bg-color); */
  }

  .header-mobile-img-holder {
    overflow: hidden;
    height: 55vh;
  }
  /* .header-mobile-text-holder {
    padding: 0.6rem;
    background-color: var(--second-bg-color);
  } */

  .header-mobile-text-holder {
    padding: 2rem;
    background-color: var(--second-bg-color);
    height: 18vh;
  }
  /* .header-video-text-holder {
    background-color: var(--second-bg-color);
    padding: 1rem;
    height: 10vh;
  } */
}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .header {
    padding: 0vh 0vw 20vh 0vw;
  }
  .hero-test-holder {
    position: relative;
    top: 0vh;
    right: 0vw;
    width: 90%;
    height: 40vh;
    border-radius: 5%;
    background-color: #fff;
  }
  .hero-img-column {
    width: 94%;
  }

  .header-subtitle {
    width: 100%;
  }
  .hero-text-column {
    width: 100vw;
  }
  .video {
    width: auto !important;
    height: 100%;
  }
  .video-container .header-image-test.show {
    position: absolute;
    transition: all 400ms ease;
    width: 100%;
    height: 25vh;
    transform: translate(0% 0px);
    opacity: 1;
  }
  .header-video-text-holder {
    background-color: var(--second-bg-color);
    padding: 0.1rem;
    height: 6.5vh;
  }
  .header a {
    text-decoration: none;
    color: var(--text-white-color);
  }
  .video-container {
    position: relative;
    overflow: hidden;
    /* width: 20.5vw !important; */
    /* width: clamp(20vw, 30vw, 20vw ); */
    /* width: clamp(20vw, 1.1165rem + 0.4174vw, 20vw ); */
    width: 100%;
    height: 25vh;

    border-radius: 0.9vw;
    /* border: 1px solid var(--main-bg-color)  */
  }

  .row-height-title {
    height: auto;
  }
  .header-col-mobile-card {
    position: relative;
    overflow: hidden;
    width: auto !important;
    height: 25vh;
    border-radius: 3vw;
    /* border: 1px solid var(--second-bg-color); */
  }
  .header-mobile-img-holder {
    overflow: hidden;
    height: 25vh;
  }

  .header-mobile-text-holder {
    padding: 1rem;
    background-color: var(--second-bg-color);
    height: 8vh;
  }
}
