.header {
  color: var(--text-white-color);

  padding-bottom: 20vh;
  height: auto;
  position: relative;
}
.main {
  /* overflow: hidden; */

  transition-duration: 1400ms;
  /* height: auto; */
  transition-delay: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0.1, 0.2, 1);
}

/* ================================ Anumation header start ====================================  */
/* Starten außerhalb des Viewports */
/* Starten unsichtbar */
/* Für Animationseffekt */
.animated-card {
  /* transform: translateX(0px);  */
  /* opacity: 0;   */
  /* transition: transform 1.5s ease, opacity 1.5s ease; */
}

.char {
  display: inline-block;
}

/* .char.space {
  width: 0.5em; 
} */

h1,
p {
  overflow: hidden;
}
.char {
  display: inline-block;
}


/* ================================ Anumation header end ====================================  */




.header-subtitle {
  width: 90%;
}




.hero-img-holder {
  width: 100%;
  height: auto;
}
.hero-col-wrapper {
  position: relative;
}
.hero-test-holder {
  position: absolute;
  top: 27vh;
  right: 8vw;
  width: 20vw;
  height: auto;
}


.hero-fill-colum {
  width: 9vw;
}
/* button contakt start*/

.btn-contact-header.animated-button {
  background-color: #5800c9;
  color: #fdf7f8;
  border: 2px solid #5800c9;
  border-radius: 50px;
  padding: 12px 28px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 0.833rem;
}

.btn-contact-header.animated-button:hover,
.btn-contact-header.animated-button:focus {
  background-color: #fdf7f8;
  color: #5800c9;
  border-color: #5800c9;
  text-decoration: none;
}

.header-subtext {
  width: 75%;
}
@media (max-width: 1440px) {



  .pen-holder {
    position: absolute;
    bottom: -3vh;
    right: 10vw;
    z-index: 3;
  }

}
@media  (min-width: 1440px) and (max-width: 1770px){

  .hero-test-holder {
    position: absolute;
    top: 18vh;
    right: 8vw;
    width: 24vw;
    height: auto;
  }
}
/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
   .hero-test-holder {
    position: absolute;
    top: 10vh;
    right: 7vw;
    width: 26vw;
    height: auto;
  }


 
  .hero-img-holder {
    width: 100%;
  }
  .pen-holder {
    position: absolute;
    bottom: -3vh;
    right: 10vw;
    z-index: 3;
  }
}



@media (max-width: 1199.98px) {
  .header-subtitle {
    width: 100%;
  }


  .hero-img-holder {
    width: 100%;
  }

    .hero-test-holder {
        position: absolute;
        top: 10vh;
        right: 8vw;
        width: 30vw;
    }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
 


  .btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.2rem;
  }
  .video {
    width: 100%;
    height: auto;
  }
  .header {
    /* background-color: var(--main-bg-color); */
    color: var(--text-white-color);

    padding-bottom: 0vh;
    height: auto;
  }



  .header a {
    text-decoration: none;
    color: var(--text-white-color);
  }

  .row-height-title {
    height: auto;
  }

 

  .header-subtitle {
    width: 90%;
  }


  .hero-test-holder {
    position: absolute;
    top:0vh;
    right: 10vw;
    width: 39vw;
  }
  .hero-img-holder {
    width: 100%;
  }
}
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

  .hero-img-holder {
    width: 100%;
  }

 
  .header a {
    text-decoration: none;
    color: var(--text-white-color);
  }
  .video {
    width: 100%;
    height: auto;
  }

   .hero-test-holder {
    position: absolute;
    top: 5vh;
    right: 8vw;
    width: 38vw;
  }
}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .header {
    padding: 0vh 0vw 20vh 0vw;
  }
  .hero-test-holder {
    position: relative;
    top: 0vh;
    right: 0vw;
    width: 90%;
    height: auto;
  }


  .header-subtitle {
    width: 100%;
  }

  .video {
    width: auto !important;
    height: 100%;
  }

  .header a {
    text-decoration: none;
    color: var(--text-white-color);
  }



 


}
