body,
html {
  width: 100%;
  margin: 0;
  font-family: 'MontserratRegular', 'sans-serif';
  line-height: 0.92;
}

:root {
  --main-bg-color: hsl(25, 100%, 53%);
  --second-bg-color: #5600c7;
  --text-white-color: #fdf7f8;
  --bg-bright-color: #FFFDF6;
  --text-black-color: hsl(0, 0%, 1%);
  --h5:1.728rem;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratMedium';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'MontserratSemiBold';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'MontserratBold';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

/*  font face rock-3d*/
@font-face {
  font-family: 'Rock3D';
  src: url('/fonts/Rock3D-Regular.ttf') format('truetype');
}
/* ######################### class letter spacing  ######################################################## */
.letter-spacing-title {
  letter-spacing: -0.04em;
}
.line-height-titleSmall {
 line-height: 1.05;
}

.line-height-title {
  line-height: 0.92;
}

/* ######################### class Font family start ######################################################## */

.Thin {
  font-family: 'Thin';
}
.Light {
  font-family: 'Light';
}
.Regular {
  font-family: 'MontserratRegular';
}
.Medium {
  font-family: 'MontserratMedium';
}
.Semibold {
  font-family: 'MontserratSemiBold';
}
.Bold {
  font-family: 'MontserratBold';
}

.ExtraBold {
  font-family: 'ExtraBold';
}
.rock-3D {
  font-family: 'Rock3D';
  font-size: 6.193rem;
}

/* ######################### class Font family end ######################################################## */

/* .fontSizeH1 {
  font-size: 5.573rem;
} */
.font-size-h1 {
  font-size: 6rem;
}

.font-size-h2 {
  font-size: 3.584rem;
}
/* .fontSizeH2 {
  font-size: 1.074rem;
} */
.font-size-h3 {
 font-size:2.489rem;
}
.font-size-h4 {
  font-size:2.074rem;
}
.font-size-h5 {
  font-size: 1.728rem;
}
.font-size-h6 {
  font-size: 1.44rem;
}
.font-size-h7 {
  font-size: 1.rem;
}
.font-size-p {
  font-size: 1rem;
}

/* ######################### class colors end ######################################################## */
.main-colour{
  color:var( --main-bg-color) ;
}

.second-colour{
    color:var( --second-bg-color) ;
}
.third-colour{
    color:var( --text-white-color) ;
}
.text-black{
  color:var(--text-black-color);
}