body,
html {
  width: 100%;
  margin: 0;
  font-family: 'MontserratRegular', 'sans-serif';
  line-height: 1;
}

:root {
  --main-bg-color: hsl(25, 100%, 53%);
  --second-bg-color: #5600c7;
  --text-white-color: #fdf7f8;
  --bg-bright-color: #fffdf6;
  --text-black-color: hsl(0, 0%, 1%);
  --nav-title:clamp(1.7281rem, 0.8336rem + 4.4728vw, 4.3rem);
  --h1: clamp(2.4rem, 0.1622rem + 4.4326vw, 6rem) ;
  --h5: clamp(1.4rem, 1.1rem + 0.5009vw, 1.728rem);
  --h6: clamp(1.1rem, 0.1165rem + 0.4174vw, 1.44rem);
  --h2: clamp(min(2.074rem, 2.074rem), 2.6265vw, max(3.584rem, 3.584rem)); 
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratMedium';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'MontserratSemiBold';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'MontserratBold';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

/*  font face rock-3d*/
@font-face {
  font-family: 'Rock3D';
  src: url('/fonts/Rock3D-Regular.ttf') format('truetype');
}
/* ######################### class letter spacing  ######################################################## */
.letter-spacing-title {
  letter-spacing: -0.04em;
}
.line-height-titleSmall {
  line-height: 1.05;
}

.line-height-title {
  line-height: 0.92;
}

/* ######################### class Font family start ######################################################## */

.Thin {
  font-family: 'Thin';
}
.Light {
  font-family: 'Light';
}
.Regular {
  font-family: 'MontserratRegular';
}
.Medium {
  font-family: 'MontserratMedium';
}
.Semibold {
  font-family: 'MontserratSemiBold';
}
.Bold {
  font-family: 'MontserratBold';
}

.ExtraBold {
  font-family: 'ExtraBold';
}
.rock-3D {
  font-family: 'Rock3D';
  font-size: 6.193rem;
  font-size: clamp(3.5494rem, 2.6299rem + 4.5976vw, 6.193rem);
  font-size: clamp(
    min(3.5494rem, 3.5494rem),
    4.5976vw,
    max(6.193rem, 6.193rem)
  );
}

/* ######################### class Font family end ######################################################## */

/* .fontSizeH1 {
  font-size: 5.573rem;
} */
.font-size-h1 {
  /* font-size: 6rem; */
  /* font-size: clamp(min(2.488rem, 2.488rem), 4.25vw, max(6rem, 6rem)); */
  /* font-size: clamp(2.4881rem, 0.8475rem + 4.25vw, 5.5725rem); */
  /* font-size: clamp(2.4rem, 0.1622rem + 4.4326vw, 6rem); */
  font-size: clamp(2.0738rem, 0.4081rem + 4vw, 6rem);
}

.font-size-h2 {
  /* font-size: 3.584rem;  */
  font-size: clamp(2.074rem, 1.5484rem + 2.6265vw, 3.584rem); 
  font-size: clamp(min(2.074rem, 2.074rem), 2.6265vw, max(3.584rem, 3.584rem));
}
/* .fontSizeH2 {
  font-size: 1.074rem;
} */
.font-size-h3 {
  /* font-size:2.489rem; */
  font-size: clamp(min(1.44rem, 1.44rem), 1.784vw, max(2.4881rem, 2.4881rem));
  /* font-size: clamp(1.44rem, 0.8825rem + 1.784vw, 2.4881rem); */
}
.font-size-h4 {
  /* font-size:2.074rem; */
  /* font-size:clamp(1.2rem, 2.5vw, 2.074rem); */
  /* font-size: clamp(min(1.2rem, 1.2rem), 1.4872vw, max(2.074rem, 2.074rem)); */
  /* font-size: clamp(1.1rem, 0.1352rem + 1.2872vw, 2.0738rem); */
  font-size: clamp(1.2rem, 0.4961rem + 1.2196vw, 2.0738rem) !important;
}
.font-size-h5 {
   font-size: 1.728rem;
   font-size: clamp(1.44rem, 1.2398rem + 0.5009vw, 1.728rem); 
       font-size: clamp(1.4rem, 1.1rem + 0.5009vw, 1.728rem);
  /* font-size: clamp(min(1.44rem, 1.44rem), 1.49vw, max(1.728rem, 1.728rem)); */
}
.font-size-h6 {
  font-size: 1.44rem;
    font-size: clamp(1.1rem, 0.1165rem + 0.4174vw, 1.44rem);
  /* font-size: clamp(min(1.2rem, 1.2rem), 1.1vw, max(1.44rem, 1.44rem)); */
}
.font-size-h7 {
  font-size: 1.2rem;
  /* font-size: clamp(min(1rem, 1rem), 0.7489vw, max(1.2rem, 1.2rem)); */
  font-size: clamp(0.75rem, 0.51rem + 1.2vw, 1.44rem);
  /* font-size: clamp(1rem, 0.766rem + 0.7489vw, 1.44rem); */
}
.font-size-p {
  font-size: 1rem;
}
.font-size-p-small {
  font-size: 0.833rem;
}

/* ######################### class colors end ######################################################## */
.main-colour {
  color: var(--main-bg-color);
}

.second-colour {
  color: var(--second-bg-color);
}
.third-colour {
  color: var(--text-white-color);
}
.text-black {
  color: var(--text-black-color);
}
/* ============================= classes data colours ===============================*/

.bg-main-orange {
  background-color: var(--main-bg-color);
}
.bg-second-purple {
  background-color: var(--second-bg-color);
}
.bg-third-white {
  background-color: var(--bg-bright-color);
}
